.layout {
  display: flex;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  padding: 1.5rem;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .layout-main {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
